
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>
<address>
    4500 Steilacoom Blvd SW <br />
    Lakewood, WA 98499
</address>

<p>
    Questions or Concerns? Email at: 
    <a href="mailto:@ViewData["Email"]">CPTC</a>
</p>

